
.large-container .carousel-img{
    height: 350px;
    width:281.579px;
    margin-right: 20px;

}
.large-container .carousel-img a img {
    width: 100%;
    height: 100%;
}
.large-container .slick-track {
    margin-left:0;
  }
  .large-container h4{
    font-size: 22px;
   font-weight: 400;
   font-family: roboto,sans-serif;
   color: white;
   margin-left: 5px;
  }
  .large-container .slick-next{
    margin-right: -60px;
  } 
  .large-container .slick-prev{
    margin-left: -50px;
    
  }
  .large-container .slick-prev:before{
    font-size: 30px;
  }
  .large-container .slick-next:before{
    font-size: 30px;
  
  }