.search-wrap{
  height: 300px ;
}
.search-input {
  width: 35%;
  position: relative;
}
.search-input .fa-solid {
  position: absolute;
  right: 0;
  top:10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.search-input input {
  width: 90%;
}
.suggestion-box{
    width:90% ;
    height: 40px;
    background-color: rgb(71, 68, 68);
    object-fit: cover;
    margin-top: 2px;
    display: flex;
    
}
.suggestion-box .title{
    color: white;
    font-size: 11px;
  font-weight: 400;
  font-family: roboto, sans-serif;
}
.suggestion-box .img-box{
   
    width: 100px;
    height: 40px;
    padding: 5px;
}
.suggestion-box .img-box img{
width: 100%;
height: 100%;

}
