.dowload-link ul li img {
  cursor: pointer;
}
.category-links ul li a {
  text-decoration: none;
  line-height: 1.6;
}
.category-links ul li {
  text-align: left;
}
.general-link ul li {
  list-style: none;
  text-align: left;
}
.general-link ul li a {
  text-decoration: none;
  line-height: 1.6;
}

.footer ul li a {
  color: #fff;
}
.media-links{
  text-align: left;
}
.footer-logo img{
  height: 150px;
  width: 150px;
 margin-left: -20px;
}
.bottom-hr{
  color: rgb(255, 255, 255);
 
}
.signup-part a{
  text-decoration: none;
}
