.aboutUs-container{
    background-color: rgb(230, 230, 230);
}
.faq-main-block{
    padding: 20px;
}
.info{
    padding-top: 30px;
    padding-left: 30px;
    border: 1px solid rgb(129, 126, 126);
    background-color: white;
}
.info p{
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: roboto,sans-serif;

}
.faq-main-block ul {
    display: flex;
    list-style: none;
}